@import './mixin.scss';

.air-travel {
    color: #181818;
    background-color: #E0E0E0;
    padding-bottom: 8.8vw;

    // .air-travel__header

    &__header {
        width: 100%;
        height: 100vw;
        margin-bottom: 10.67vw;
    }

    // .air-travel__img
    &__img {
        width: 100%;
        height: 100%;
    }

    // .air-travel__question-title

    &__question-title {
        @include nsm {
            display: flex;
            column-gap: 2.2vw;
            margin-bottom: 8.77vw;
        }
    }

    // .air-travel__question-number

    &__question-number {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            font-variant: tabular-nums;
        }

    }

    // .air-travel__question-text

    &__question-text {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            line-height: 1.4;
        }
    }

    // .air-travel__question-text-item

    &__question-text-item {
        margin-bottom: 6.33vw;

        &:last-child{
            margin-bottom: 0;
        }
    }

    // .air-travel__text-block

    &__text-block {
        width: 100%;
        margin-bottom: 11.27vw;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .air-travel__text-block-item

    &__text-block-item {
        margin-bottom: 7.73vw;
        font-size: 4.53vw;
        font-weight: 400;
        line-height: 1.7;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .air-travel__text-uppercase

    &__text-uppercase {
        text-transform: uppercase;
    }

    // .air-travel__figure-wrapper

    &__figure-wrapper {
        width: 100%;
        margin-bottom:10.27vw;    
    }

    // .air-travel__figure-img

    &__figure-img {
        width: 89.33vw;
        height: 90.67vw;
        margin-bottom: 2.97vw;

        // .air-travel__figure-img_border-round

		&_border-round {
			border-radius: 4vw;
		}
    }

    // .air-travel__figure-caption

    &__figure-caption {
        font-size: 3.97vw;
        font-weight: 400;
        line-height: 1.5;
    }

    // .air-travel__button

    &__button {
        @include nsm {
            width: 100%;
            height: 12.8vw;
            margin: auto;
            border-radius: 4vw;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4.27vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2.67vw;

			// .air-travel__button_margin-bottom-none

			&_margin-bottom-none {
                margin-bottom: 0;
			}

            // .air-travel__button_application

			&_application {
                background-color: #E03638;
			}
            
            // .air-travel__button_questions

			&_questions {
                background: none;
                color: #181818;
                border: solid .27vw #E03638;
			}
        }
    }
}