@import './mixin.scss';

.for-travel {
    padding-bottom: 10.13vw;
    background-color: #D3D3D3;
    color: #181818;

    // .for-travel__logotype

    &__logotype {
        width: 100%;
        height: 97.87vw;
        margin-bottom: 9.33vw;
    }

    // .for-travel__img

    &__img {
        width: 100%;
        height: 100%;
    }

    // .for-travel__container-box

    &__container-box {}

    // .for-travel__title

    &__title {
        font-size: 6.93vw;
        font-weight: 700;
        margin-bottom: 8vw;
    }

    // .for-travel__text-block

    &__text-block {
        width: 100%;
        margin-bottom: 8.33vw;

        // .for-travel__text-block_margin-bottom-none

        &_margin-bottom-none {
            margin-bottom: 0;
        }
    
        // .for-travel__text-block_video

        &_video {
            @include nsm {
                margin-bottom: 6.67vw;
            }
        }    
    }

    // .for-travel__text-block-item

    &__text-block-item {
        margin-bottom: 8.33vw;
        font-size: 4.53vw;
        font-weight: 400;
        line-height: 1.7;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .for-travel__question

    &__question {

        @include nsm {
            padding-top: 6.67vw;
            padding-bottom: 6.67vw;
            margin-bottom: 9.33vw;
            position: relative;
            z-index: 1;
            border-radius: 4vw;
            background-color: #E0E0E0;
        }
    }

    // .for-travel__question-title

    &__question-title {
        @include nsm {
            display: flex;
            column-gap: 2.2vw;
            margin-bottom: 4vw;
        }
    }

    // .for-travel__question-number

    &__question-number {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            font-variant: tabular-nums;
        }

    }

    // .for-travel__question-text

    &__question-text {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            line-height: 1.4;
        }
    }

    // .for-travel__question-text-item

    &__question-text-item {
        margin-bottom: 35px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    // .for-travel__text-bold

    &__text-bold {
        @include nsm{
            font-weight: 700;
        }
    }
    
    // .for-travel__swiper-container

    &__swiper-container {
        @include nsm {
            overflow: hidden;
            margin-bottom: 10.40vw;
        }
    }

    // .for-travel__figure-wrapper

    &__figure-wrapper {
        width: 100%;
    }
    
    // .for-travel__figure-img
    
    &__figure-img {
        width: 100%;
        height: 84.8vw;
        margin-bottom: 2.67vw;
        box-shadow: 0px 2px 12px 0px #0000001A;
        background-color: #fff;

        // .for-travel__figure-img_border-round

        &_border-round {
            border-radius: 4vw;
        }
    }

    // .for-travel__figure-caption

    &__figure-caption {
        font-size: 4vw;
    }    
}