@import './mixin.scss';

.media-block {

    // .media-block__video

    &__video {

        // .media-block__video_daily-massage

        &_daily-massage {
            height: 54.93vw;
        }
    }

    // .media-block__media

    &__media {
        @include nsm {
            background-color: #fff;
            border-radius: 4vw;
            height: 54.93vw;
            width: 89.33vw;
            margin: auto;
            margin-bottom: 6.67vw;
        }
    
        
        // .media-block__media_beauty-academy

        &_beauty-academy {
            height: 46.67vw;
        }   
        
        // .media-block__video_fitness-room

        &_fitness-room {
            @include nsm {
                height: 61.87vw;
                overflow: hidden;
            }
        }
        // .media-block__media_for-travel

        &_for-travel {
            @include nsm {
                height: 55.47vw;
                overflow: hidden;
            }
        }    
    }

    // .media-block__button

    &__button {
        @include nsm {
            width: 100%;
            height: 12.8vw;
            margin: auto;
            background-color: #E03638;
            border-radius: 4vw;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4.27vw;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // .media-block__img

    &__img {
        width: 100%;
        height: 100%;
    }

}
