@import './mixin.scss';

.rf-lifting {
    color: #513434;
    background-image: url('/src/picture/rf-lifting-bg.webp');
    padding-bottom: 8.8vw;

    // .rf-lifting__header

    &__header {
        width: 100%;
        height: 93.60vw;
        margin-bottom: 10.67vw;
    }

    // .rf-lifting__img
    &__img {
        width: 100%;
        height: 100%;
    }

    // .rf-lifting__question-title

    &__question-title {
        @include nsm {
            display: flex;
            column-gap: 2.2vw;
            margin-bottom: 6.67vw;
        }
    }

    // .rf-lifting__question-number

    &__question-number {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            font-variant: tabular-nums;
        }

    }

    // .rf-lifting__question-text

    &__question-text {
        @include nsm {
            font-size: 5.07vw;
            font-weight: 700;
            line-height: 1.4;
        }
    }

    // .rf-lifting__text-block

    &__text-block {
        width: 100%;
        margin-bottom: 10.67vw;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .rf-lifting__text-block-item

    &__text-block-item {
        margin-bottom: 8.33vw;
        font-size: 4.53vw;
        font-weight: 400;
        line-height: 1.7;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .rf-lifting__figure-wrapper

    &__figure-wrapper {
        width: 100%;
        height: 76.27vw;

        // .rf-lifting__figure-wrapper_margin-bottom

        &_margin-bottom {
            margin-bottom: 6.67vw;
        }
    
    }

    // .rf-lifting__figure-img

    &__figure-img {
        width: 89.33vw;
        height: 55.20vw;
        margin-bottom: 5.07vw;

        // .rf-lifting__figure-img_border-round

		&_border-round {
			border-radius: 4vw;
		}
    }

    // .rf-lifting__figure-caption

    &__figure-caption {
        font-size: 3.47vw;
        font-weight: 400;
    }

    // .rf-lifting__button

    &__button {
        @include nsm {
            width: 100%;
            height: 12.8vw;
            margin: auto;
            border-radius: 4vw;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4.27vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2.67vw;

			// .rf-lifting__button_margin-bottom-none

			&_margin-bottom-none {
                margin-bottom: 0;
			}

            // .rf-lifting__button_application

			&_application {
                background-color: #E03638;
                color: #fff;
			}
            
            // .rf-lifting__button_questions

			&_questions {
                background: none;
                color: #513434;
                border: solid 1px #E03638;
			}
        }
    }
}
